<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File"
            name="SimpleLog"
            fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}/API ${date:format=yyyy-MM-dd}.log"
            layout="${longdate} [${uppercase:${level}}] [${callsite:includeNamespace=false:includeSourcePath=false}] ${message} ${exception:format=ToString,StackTrace}"
            archiveEvery="Day"
            encoding="UTF-8"
            maxArchiveFiles="10"
            archiveAboveSize="104857600"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="SimpleLog" final="true" />
    <logger name="*" minlevel="Debug" writeTo="SimpleLog" final="true" />
    <logger name="*" minlevel="Error" writeTo="SimpleLog" final="true" />
  </rules>
</nlog>